<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="https://github.com/davidcopano/storybookmarks">
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto text-secondary" href="https://www.dcopano.xyz/storybookmarks">
            <h4>storybookmarks</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>