<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Left</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>

{#<nav class="navbar navbar-expand-sm bg-primary justify-content-center">#}
    {#<a class="navbar-brand text-secondary" href="#">storybookmarks</a>#}
    {#<ul class="navbar-nav" style="width: 100%;">#}
        {#<li class="nav-item" style="align-self: right">#}
            {#<a class="nav-link text-secondary" href="#">Características</a>#}
        {#</li>#}
        {#<li class="nav-item" style="align-self: right">#}
            {#<a class="nav-link text-secondary" href="#">Contacto</a>#}
        {#</li>#}
        {#<li class="nav-item" style="align-self: right">#}
            {#<a class="nav-link text-secondary" href="#">Iniciar sesión</a>#}
        {#</li>#}
    {#</ul>#}
{#</nav>#}