.sidenav:not(.sidenav-mobile) {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: map_get($custom_colors, primary);
  overflow-x: hidden;
  padding-top: 20px;
  .new-dropdown {
    a.dropdown-item {
      font-size: 16px;
    }
  }
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    &:not(.panel-link) {
      font-size: 22px;
    }
    display: block;
    &.index-link {
      font-size: 18px;
      line-height: initial;
    }
  }
}

.sidenav-mobile {
  display: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 768px) {
  .sidenav:not(.sidenav-mobile) {
    display: none;
  }
  .sidenav-mobile {
    display: block;
  }
  .main {
    margin-left: 0 !important;
  }
}

.main {
  margin-left: 20%;
}