.row {
  margin-right: 0;
  margin-left: 0;
}

.btn.btn-success {
  color: white !important;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
  vertical-align: middle;
}

.baseline-middle {
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
}