.search-container {
  .search-results {
    position: absolute;
    z-index: 999;
    background: white;
    top: 37px;
    border: 1px solid;
    width: 97.1%;
    ul {
      li {
        list-style-type: none;
        display: inline-block;
        margin: 10px;
        padding: 8px;
        background-color: map_get($custom_colors, primary);
        a {
          color: white;
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-container {
    margin-bottom: 0 !important;
    .search-results {
      width: 90.5%;
    }
  }
}