@import url('https://fonts.googleapis.com/css?family=Muli');
@import 'colors';

// fuente
$font-family-sans-serif: 'Muli', sans-serif;

// colores
$primary: map_get($custom_colors, primary);
$secondary: map_get($custom_colors, secondary);
$success: map_get($custom_colors, success);
$warning: map_get($custom_colors, warning);
$danger: map_get($custom_colors, danger);

// varios
$zindex-modal-backdrop: 1029;
$border-radius: 0;
$modal-content-border-radius: false;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(178, 219, 191)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

// estilos personalizados
.chip {
  display: inline-block;
  padding: 0 25px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

@import '~bootstrap/scss/bootstrap';
@import 'reset';
@import 'menu';
@import 'search';
// paginas
@import 'pages/index';
@import 'pages/login';
@import 'pages/register';
@import 'pages/profile_edit';
@import 'pages/profile_show';
@import 'pages/register_confirmed';