{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <img src="{{ asset('images/laptop.png') }}" alt="">
        <img src="{{ asset('images/phone.png') }}" alt="">
    </div>
{% endblock %}