<div class="search-container col-8 input-group mt-5 mb-5" id="search-container">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <input type="text" class="form-control" placeholder="{{ 'search.text'|trans }}" v-model="query"
           v-on:input="getQueryResults()">
    <ul v-if="bookmarks.length > 0">
        <li v-for="b in bookmarks">
            <a :href="b.url">[[b.title]]</a>
        </li>
    </ul>
</div>