<div class="search-container input-group mt-5 mb-5 w-50">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <input type="text" class="form-control" placeholder="{{ 'search.text'|trans }}">
</div>