html.bookmark-public, body.bookmark-public {
  height: 100%;
}

body.bookmark-public {
  margin: 0;
  .flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: map_get($custom_colors, primary);
    color: #f8f9fa;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .flex-row {
      width: auto;
      h1.flex-item, p.flex-item {
        margin: 65px;
        text-align: center;
      }
      h1.flex-item {
        font-size: 4rem;
      }
      p.flex-item {
        a {
          font-size: 1.5rem;
          color: #f8f9fa !important;
          text-decoration: underline;
        }
      }
    }
  }
}