.bookmark-list {
  .main {
    .bookmarks-container {
      .bookmark-public {
        background-color: map_get($custom_colors, primary);
        color: map_get($custom_colors, secondary);
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        i {
          padding: 14px;
        }
      }
      .delete-bookmark {
        background-color: map_get($custom_colors, danger);
        color: #fafafa;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        i {
          padding: 14px;
        }
      }
      .edit-bookmark {
        background-color: map_get($custom_colors, success);
        color: #fafafa;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        i {
          padding: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bookmarks-container {
    .card {
      margin-left: 0 !important;
      .card-body {
        padding-left: 0;
        .buttons-container {
          margin-top: 16px;
          a:first-child {
            margin-left: 0 !important;
          }
          .delete-bookmark, .edit-bookmark, .bookmark-public {
            float: none !important;
            padding: 10px 0 !important;
            i {
              padding: 12px !important;
            }
          }
          .bookmark-public {
            margin-left: 10px;
          }
        }
      }
    }
  }
}