.index {
  .slogan-container {
    height: 500px;
    ::-moz-selection {
      background: map_get($custom_colors, primary);
      color: map_get($custom_colors, secondary);
    }
    ::selection {
      background: map_get($custom_colors, primary);
      color: map_get($custom_colors, secondary);
    }
    .slogan {
      h1 {
        font-size: 44px;
      }
      h2 {
        font-size: 30px;
      }
    }
  }
  #features {
    .security, .easy-use, .share-bookmarks, .open-source {
      img {
        max-width: 30%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .index {
    .navbar {
      .navbar-nav {
        .nav-item {
          margin-left: 0 !important;
        }
      }
    }
    .slogan-container {
      height: auto;
      margin-top: 5rem !important;
      .images-container {
        text-align: center;
      }
    }
    #features {
      padding: 0 !important;
    }
  }
}