{% extends '::base.html.twig' %}

{% block html_class %}bookmark-public{% endblock %}

{% block title %}storybookmarks - {{ 'menu.items.bookmarks'|trans }}{% endblock %}

{% block body_class %}bookmark-public{% endblock %}

{% block body %}
    <div class="flex-container">
        <div class="flex-row">
            <h1 class="flex-item">{{ bookmark.title }}</h1>
            <p class="flex-item">
                <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a>
            </p>
        </div>
    </div>
{% endblock %}