{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ 'menu.items.bookmarks'|trans }}{% endblock %}

{% block body_class %}bookmark-public{% endblock %}

{% block body %}
    <h1>marcador publico</h1>
{% endblock %}