{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ 'menu.items.tags'|trans }}{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        {{ include('MainBundle:Search:search.list.twig') }}
        <h1>tags - desde twig</h1>
    </div>
{% endblock %}